openapi: 3.1.0
info:
  title: TokMetric GPT Actions API
  version: 1.0.0
  description: |
    Bearer-protected TokMetric operations for readiness, connectors, campaigns,
    content drafts, compliance, approvals, publishing jobs, analytics, and audit.
    Draft creation is internal only. External TikTok success is never reported
    unless the platform confirms it, and live publishing remains gated.
servers:
  - url: https://gemcybersecurityassist.com
    description: GEM Enterprise production domain
security:
  - bearerAuth: []
paths:
  /functions/gptSystemReadiness:
    post:
      operationId: getTokMetricSystemReadiness
      summary: Check TokMetric system readiness
      x-openai-isConsequential: false
      responses:
        '200':
          description: Readiness and production-gate status
        '401':
          description: Invalid bearer token

  /functions/gptConnectorReadiness:
    post:
      operationId: getTokMetricConnectorReadiness
      summary: Check workspace connector readiness
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceRequest'
      responses:
        '200':
          description: Connector readiness report

  /functions/gptListAccounts:
    post:
      operationId: listTokMetricAccounts
      summary: List connected TikTok connector accounts
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAccountsRequest'
      responses:
        '200':
          description: Safe connector metadata without credentials

  /functions/gptListCampaigns:
    post:
      operationId: listTokMetricCampaigns
      summary: List workspace campaigns
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRecordsRequest'
      responses:
        '200':
          description: Campaign list

  /functions/gptGetCampaign:
    post:
      operationId: getTokMetricCampaign
      summary: Get one campaign and its versions
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, campaign_id]
              properties:
                workspace_id:
                  type: string
                campaign_id:
                  type: string
      responses:
        '200':
          description: Campaign record
        '404':
          description: Campaign not found

  /functions/gptCreateCampaignDraft:
    post:
      operationId: createTokMetricCampaignDraft
      summary: Create an internal campaign draft
      description: Creates a versioned internal draft only and cannot activate advertising spend.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignDraftRequest'
      responses:
        '201':
          description: Campaign draft created

  /functions/gptListContent:
    post:
      operationId: listTokMetricContent
      summary: List workspace content
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListContentRequest'
      responses:
        '200':
          description: Content list

  /functions/gptGetContent:
    post:
      operationId: getTokMetricContent
      summary: Get content, versions, reviews, approvals, and publishing state
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, content_id]
              properties:
                workspace_id:
                  type: string
                content_id:
                  type: string
      responses:
        '200':
          description: Content workflow record
        '404':
          description: Content not found

  /functions/gptCreateContentDraft:
    post:
      operationId: createTokMetricContentDraft
      summary: Create an immutable internal content draft version
      description: Does not upload or publish anything to TikTok.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContentDraftRequest'
      responses:
        '201':
          description: Content draft and version created

  /functions/gptRunComplianceReview:
    post:
      operationId: runTokMetricComplianceReview
      summary: Review one content version against active policy controls
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplianceReviewRequest'
      responses:
        '200':
          description: Compliance review result and findings

  /functions/gptRequestApproval:
    post:
      operationId: requestTokMetricApproval
      summary: Request human approval for an exact content version
      description: Creates an approval request but never approves it automatically.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalRequest'
      responses:
        '201':
          description: Approval request created

  /functions/gptGetApprovalStatus:
    post:
      operationId: getTokMetricApprovalStatus
      summary: Get approval status and decisions
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, approval_request_id]
              properties:
                workspace_id:
                  type: string
                approval_request_id:
                  type: string
      responses:
        '200':
          description: Approval state and decision history

  /functions/gptCreatePublishJob:
    post:
      operationId: createTokMetricPublishJob
      summary: Queue a controlled publishing job
      description: Requires an exact-version approval, connected connector, open safety gates, and an idempotency key.
      x-openai-isConsequential: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublishJobRequest'
      responses:
        '202':
          description: Publishing job queued
        '409':
          description: Approval, connector, or content precondition failed
        '423':
          description: Emergency or live-publishing gate blocks the operation

  /functions/gptGetPublishJobStatus:
    post:
      operationId: getTokMetricPublishJobStatus
      summary: Get internal and external publishing state separately
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, job_id]
              properties:
                workspace_id:
                  type: string
                job_id:
                  type: string
      responses:
        '200':
          description: Publishing job status and attempt history

  /functions/gptGetAnalyticsSummary:
    post:
      operationId: getTokMetricAnalyticsSummary
      summary: Get analytics snapshots with source classification
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsRequest'
      responses:
        '200':
          description: Analytics snapshots and source classification

  /functions/gptGetAuditHistory:
    post:
      operationId: getTokMetricAuditHistory
      summary: Get redacted TokMetric audit history
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditHistoryRequest'
      responses:
        '200':
          description: Redacted audit events

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    WorkspaceRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string

    ListRecordsRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        status:
          type: string
          enum: [DRAFT, REVIEW_READY, APPROVAL_REQUIRED, APPROVED, REJECTED, REVOKED, EXPIRED, BLOCKED, ARCHIVED]
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 25

    ListAccountsRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        provider:
          type: string
          enum: [TIKTOK_LOGIN_KIT, TIKTOK_DISPLAY_API, TIKTOK_CONTENT_POSTING_API, TIKTOK_BUSINESS_API, TIKTOK_SHOP_SELLER, TIKTOK_SHOP_CREATOR]
        status:
          type: string
          enum: [NOT_CONFIGURED, AUTHORIZATION_REQUIRED, AUTHORIZATION_PENDING, CONNECTED, DEGRADED, TOKEN_EXPIRED, REAUTHORIZATION_REQUIRED, DISCONNECTED, PLATFORM_APPROVAL_REQUIRED, BLOCKED]
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 25

    CreateCampaignDraftRequest:
      type: object
      required: [workspace_id, name, platform, goal]
      properties:
        workspace_id:
          type: string
        name:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 5000
        platform:
          type: string
          enum: [tiktok_organic, tiktok_shop, tiktok_business]
        goal:
          type: string
          enum: [awareness, engagement, conversions, traffic, followers]
        target_audience:
          type: string
          maxLength: 2000
        budget:
          type: number
          minimum: 0
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date

    ListContentRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        campaign_id:
          type: string
        status:
          type: string
          enum: [DRAFT, REVIEW_READY, APPROVAL_REQUIRED, APPROVED, REJECTED, REVOKED, EXPIRED, BLOCKED, ARCHIVED]
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 25

    CreateContentDraftRequest:
      type: object
      required: [workspace_id, title, content_type, platform]
      properties:
        workspace_id:
          type: string
        campaign_id:
          type: string
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 5000
        content_type:
          type: string
          enum: [video, image, carousel, story, live]
        platform:
          type: string
          enum: [tiktok_organic, tiktok_shop, tiktok_business]
        script:
          type: string
          maxLength: 10000
        caption:
          type: string
          maxLength: 2200
        hashtags:
          type: array
          maxItems: 50
          items:
            type: string
            maxLength: 100
        media_asset_id:
          type: string
        settings:
          type: object
          properties:
            privacy_level:
              type: string
            comments_enabled:
              type: boolean
            duet_enabled:
              type: boolean
            stitch_enabled:
              type: boolean
            commercial_content:
              type: boolean

    ComplianceReviewRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        content_id:
          type: string
        content_version_id:
          type: string
        policy_version_id:
          type: string
      anyOf:
        - required: [content_id]
        - required: [content_version_id]

    ApprovalRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        content_id:
          type: string
        object_version_id:
          type: string
        required_role:
          type: string
        expires_at:
          type: string
          format: date-time
      anyOf:
        - required: [content_id]
        - required: [object_version_id]

    CreatePublishJobRequest:
      type: object
      required: [workspace_id, content_version_id, connector_instance_id, approval_request_id, idempotency_key]
      properties:
        workspace_id:
          type: string
        content_version_id:
          type: string
        connector_instance_id:
          type: string
        approval_request_id:
          type: string
        scheduled_at:
          type: string
          format: date-time
        idempotency_key:
          type: string
          minLength: 16
          maxLength: 200

    AnalyticsRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        date_from:
          type: string
          format: date
        date_to:
          type: string
          format: date
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 25

    AuditHistoryRequest:
      type: object
      required: [workspace_id]
      properties:
        workspace_id:
          type: string
        entity_type:
          type: string
        entity_id:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
