openapi: 3.1.0
info:
  title: TokMetric Specialized Agents API
  version: 1.1.0
  description: |
    Bearer-protected TokMetric planning endpoint for the controlled production launch.
    It returns deterministic internal plans and review structures, creates an audit
    record, and never publishes, approves, spends funds, changes account settings,
    or claims external TikTok success.
servers:
  - url: https://gemcybersecurityassist.com
    description: GEM Enterprise production domain
security:
  - bearerAuth: []
paths:
  /functions/tokmetric/agent-plan:
    post:
      operationId: createTokMetricSpecializedAgentPlan
      summary: Generate a governed TokMetric internal plan
      description: |
        Runs one registered planning role against the credential-bound workspace.
        The result is deterministic and internal-only. Human review remains required,
        production publishing remains blocked, and externalActionTaken is always false.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent, outputType, workspaceId, brief]
              additionalProperties: false
              properties:
                agent:
                  type: string
                  enum:
                    - content_strategist
                    - script_writer
                    - quality_reviewer
                    - publishing_coordinator
                outputType:
                  type: string
                  enum:
                    - campaign_brief
                    - content_outline
                    - audience_notes
                    - script
                    - caption
                    - hashtags
                    - findings
                    - recommended_changes
                    - review_result
                    - publish_plan
                    - job_request
                    - preflight_report
                workspaceId:
                  type: string
                  description: Credential-bound TokMetric workspace ID.
                brief:
                  type: string
                  minLength: 1
                  maxLength: 5000
      responses:
        '200':
          description: Governed internal planning result
          content:
            application/json:
              schema:
                type: object
                required: [ok, correlationId, workspaceId, data]
                properties:
                  ok:
                    type: boolean
                    enum: [true]
                  correlationId:
                    type: string
                  workspaceId:
                    type: string
                  data:
                    type: object
                    required:
                      - runId
                      - status
                      - outputType
                      - safety
                      - output
                      - provider
                      - modelVersion
                      - promptVersion
                      - estimatedCostMicros
                      - durationMs
                      - externalActionTaken
                    properties:
                      runId:
                        type: string
                      status:
                        type: string
                        enum: [COMPLETED]
                      outputType:
                        type: string
                      safety:
                        type: object
                        required: [state, findings]
                        properties:
                          state:
                            type: string
                            enum: [PASS, HUMAN_REVIEW_REQUIRED]
                          findings:
                            type: array
                            items:
                              type: object
                              required: [code, severity, message]
                              properties:
                                code:
                                  type: string
                                severity:
                                  type: string
                                  enum: [warning, block]
                                message:
                                  type: string
                      output:
                        type: object
                        additionalProperties: true
                      provider:
                        type: string
                        enum: [gem-controlled-planner]
                      modelVersion:
                        type: string
                        enum: [deterministic-policy-v1]
                      promptVersion:
                        type: string
                        enum: [tokmetric-agent-plan-v1]
                      estimatedCostMicros:
                        type: integer
                        enum: [0]
                      durationMs:
                        type: integer
                        minimum: 0
                      externalActionTaken:
                        type: boolean
                        enum: [false]
        '400':
          description: Invalid agent, output type, or request body
        '401':
          description: Invalid or expired bearer token
        '403':
          description: Credential cannot access the supplied workspace
        '503':
          description: Gateway, actor, workspace, or storage is unavailable
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: TokMetric
